<!DOCTYPE html>
<html>
<head>
  <title>CodeheroWeb</title>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="mRVyOtFnRfq4nFPFJHD+GzVw/Z/nWnno6BI2yEZNzgQ=" name="csrf-token" />
</head>
<body>
<h1>Bienvenido#index</h1>
<p>Find me in app/views/bienvenida/index.html.erb</p>
</body>
</html>